<h1>Tags</h1>

<ul id="articles">
  <% @tags.each do |tag| %>
    <li>
      <%= tag.name%>
      <%= link_to "delete", tag_path(tag), method: :delete , data: {confirm: "Really delete this tag?"}%>
   
    </li>
  <% end %>
</ul>

